body {
    background: #0e0d0d;
}

.SHIPPING {
    padding-left: 600px;
    color: white; 
    cursor: pointer; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo {
    height: 30px;
    width: 200px;
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.head {
    display: flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}

.home {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.home:hover {
    text-decoration: underline;
}

.about {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;

}

.about:hover {
    text-decoration: underline;
}

.cata {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.cata:hover {
    text-decoration: underline;
}

.track {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer; 
}

.track:hover {
    text-decoration: underline;
}

.acc {
    height: 30px;
    width: 30px;
    margin-left: 650px;
    margin-top: 12px;
    cursor: pointer;
}

.head-info {
    color: white;
}

.cart {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-top: 12px;
    cursor: pointer;
}

.first-row {
    cursor: pointer;
    display: block;

}

.pic-1 {
    height: 350px;
    width: 350px;
    margin-left: 170px;
    margin-top: 30px;
}

.pic-2 {
    height: 350px;
    width: 350px;
    margin-left: 30px;
}

.pic-3 {
    height: 350px;
    width: 350px;
    margin-left: 30px;
}

.sec-row {
    display: block;
    cursor: pointer;
}

.spic-1 {
    height: 350px;
    width: 350px;
    margin-left: 170px;
    margin-top: 30px;
}

.spic-2 {
    height: 350px;
    width: 350px;
    margin-left: 30px;
}

.spic-3 {
    height: 350px;
    width: 350px;
    margin-left: 30px;
}

.third-row {
    display: block;
    cursor: pointer;
}

.tpic-1 {
    height: 350px;
    width: 350px;
    margin-left: 170px;
    margin-top: 30px;
}

.tpic-2 {
    height: 350px;
    width: 350px;
    margin-left: 30px;
}

.tpic-3 {
    height: 350px;
    width: 350px;
    margin-left: 30px;
}

.author {
    display: flex;
}

.founder {
    margin-top: 20px;
    height: 500px;
    width: 400px;
    margin-left: 130px;
    margin-top: 30px;
    display: block;
}

.athr-info {
    color: white; 
    font-size: 25px;
    margin-top: 100px;
    margin-left: 60px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.rohil {
    font-size: 20px;
    color: rgb(170, 170, 170);
}

.about-us {
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 80px;
}

.details {
    display: inline-block;
}

.contact-us {
    color: white;
    font-size: 20px;
    margin-top: 200px; 
    margin-left: 700px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  
}

.num-1 {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(156, 156, 156);
    font-size: 20px;
    margin-left: 670px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.num-1:hover {
    color: white;
}

.num-2 {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(156, 156, 156);
    font-size: 20px;
    margin-left: 670px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.num-2:hover {
    color: white;
}

.mail {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(156, 156, 156);
    font-size: 20px;
    margin-left: 630px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.mail:hover {
    color: white;
}

.insta {
    margin-left: 730px;
    margin-top:20px;
    margin-bottom: 20px;
    height: 20px;
    width: 20px;
    transition: 0.15s;
}

.insta:hover {
    height: 23px;
    width: 23px;
}

.under{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
} 

.year {
    color: white;
    margin-bottom: 30px;
    margin-left: 70px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.dtls {
    margin-bottom: 20px;
}

.paper-industry {
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.paper-industry:hover {
    text-decoration: underline;
}

.shopify {
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 2Npx;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.shopify:hover {
    text-decoration: underline;
}


.refund {
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.refund:hover {
    text-decoration: underline;
}


.privacy {
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.privacy:hover {
    text-decoration: underline;
}


.terms {
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.terms:hover {
    text-decoration: underline;
}


.ship {
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.ship:hover {
    text-decoration: underline;
}


.info {
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.info:hover {
    text-decoration: underline;
}






